<h1 class="center">Hobbies Page</h1>

  <div class="container">
    <div class="row">
      
      <div class="col-md-8">
        <h2 class="left">The Sport I Play</h2>
          <p> I play baseball and I've been playing baseball for my whole life now and I love it. Playing baseball at Mather high school
          has been amazing for me and has brought new experiences in more than one way.I am normally playing at 2nd or 1st base
          but I play any position that I need to play for the team. I love to play baseball because it's one of the most challenging
          sports to play mentally. When I play baseball I strive to play the best baseball that that I can every day.
          </p>
      </div>
      
      <div class="col-md-4">  
        <div class="goteam">
        <%= image_tag "GO_TEAM .jpg",:size => "300x250" %>
        </div>
      </div>
      
      <div class="col-md-5">
        <%= image_tag "blackops.jpg",:size => "300x250" %>
      </div>
      
      <div class="col-md-7">
        <h2>The E-sports I play </h2>
          <p>Very recently I have started to play video games again. I have been playing league of legends and Call of duty black Ops 3 a lot more, and i have been getting alot better at them.
          With every game of league of Legends I gain knowledge on the Champions and their play style. I am slowly learning how to play more roles such as Top lane and Jungle.
          In total there is 5 main roles in League of Legends and they include Top lane, Middle lane, Adc Bottom lane, Support Bottom lane, and a Jungler. My main role in a team is normally 
          Adc or Middle lane. I have started to play call of duty again and it is a lot more fun now that I have been getting better and better. My KDR or Kill Death Ratio used to be .70 
          which is very bad in my opinion and has risen to a 1.02 in just a few days due to the fact that I have been using new guns.</p>
      </div>
<!-- !!!END OF ROW!!!-->
    </div>
<!-- END OF CONTAINER-->
  </div>