<h1 class="center">Sports Page</h1>
<br>
<br>

  <div class="container">
    <div class="row">
      
      <div class="col-md-8">
        <h2 class="left">The Sport I Play</h2>
          <p> I play baseball and I've been playing baseball for my whole life now and I love it. Playing baseball at Mather high school
          has been amazing for me and has brought new experiences in more than one way.I am normally playing at 2nd or 1st base
          but I play any position that I need to play for the team. I love to play baseball because it's one of the most challenging
          sports to play mentally. When I play baseball I strive to play the best baseball that that I can every day.
          </p>
      </div>
      
      <div class="col-md-4">  
        <div class="goteam">
        <%= image_tag "GO_TEAM .jpg",:size => "300x250" %>
        </div>
      </div>
      
      <div class="col-md-5">
        <video height="210" class="center" controls="controls">
              <source src="/assets/BestMomentsInBaseball.mp4" type="video/mp4"/>
            </video>
      </div>
      
      <div class="col-md-7">
        <h2>Best moments in Baseball </h2>
          <p>This is showing how baseball has not changed much from when its first started. The higlight reel that is being shown, shows
            the best moments in baseball can happen at any given moment during the game because everyone is always ready for them.</p>
      </div>
<!-- !!!END OF ROW!!!-->
    </div>
<!-- END OF CONTAINER-->
  </div>